//references for mixin and variables
@import "variable";
@import "mixin";
.content{
@include center;
@include wars(5);
text-align: center;
}
//changes the text and background
.dark{
    //@include wars(5);
    @include sun;
    color: $dcolor;
}

.light{
    @include wars(5);
    @include sun;
    color: $lcolor;
}
