
@import "variable";
@import "mixin";
.content{
@include center;
@include wars(5);
text-align: center;
}

.dark{
    @include wars(5);
    @include sun;
    color: $dcolor
}

.light{
    @include wars(5);
    @include sun;
    color: $lcolor;
}