@mixin sun{
   @if (true){
    background-color: $bgcolor;
    font-family: $tfont;
    font-size: $tsize; 
    width: fit-content;
    margin: auto;
    padding: 5px;
    margin-top: 5px;
   }
}

//try to make 2 seperate grids for each word, or at the very least limit the background so it just surrounds the word, and move words to center of screen
@mixin center{
    .grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
    }
}
@mixin wars($count){
    @for $i from 1 through $count {
      &:nth-child(#{$i}) {
        background-color: lighten(black, ($count - $i + 1) * 10%);
      }
    }
  }